/* ===================================================================
RESET STYLES
---
Based on the following CSS reset:
https://github.com/germanfrelo/base-css-stylesheet
---
Selectors are grouped and sorted based on:
- https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements
- https://html.spec.whatwg.org/multipage/#toc-semantics
---
Table of contents:
01. Document and Global
02. Content Sectioning
03. Grouping Content
04. Inline Text Semantics
05. Embedded Content
06. Tabular Data
07. Forms
08. Interactive Elements
09. Hidden Elements
=================================================================== */

/* ===================================================================
01. Document and Global
=================================================================== */

/*
1. Use the more intuitive and predictable border box sizing by default (refs. https://github.com/jensimmons/cssremedy/issues/4 and https://wiki.csswg.org/ideas/mistakes).
2. Don't repeat background images by default (ref. https://github.com/w3c/csswg-drafts/issues/4526).
3. Don't repeat mask images by default.
*/

*,
*::before,
*::after {
	box-sizing: border-box; /* 1 */
	background-repeat: no-repeat; /* 2 */
	mask-repeat: no-repeat; /* 3 */
}

/*
Remove the default margin from some elements in favor of better control in authored CSS.
Reference: https://gist.github.com/csswizardry/442de89c46f7ca7389a4afbcd155a2dd
*/
:where(
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	hr,
	blockquote,
	pre,
	figure,
	ul,
	ol,
	dl,
	dd,
	fieldset,
	textarea,
	[type="checkbox"],
	[type="radio"],
	[type="range"]
) {
	margin: 0;
}

/*
1. A prerequisite for the 'body' to be able to fill the viewport height (requires 'body { min-block-size: 100%; }', see 'body' rule below). Ref. https://codepen.io/germanfrelo/pen/jOGNpbj
2. Use a shorter, more readable tab size (default is 8).
3. Prevent WebKit-based browsers on iOS from automatically increasing the default font size in landscape orientation (demo: https://codepen.io/germanfrelo/pen/JoPJVxd).
*/

html {
	block-size: 100%; /* 1 */
	tab-size: 4; /* 2 */
	-webkit-text-size-adjust: none; /* 3 */ /* stylelint-disable-line property-no-vendor-prefix -- Intended. */
}

/*
Smooth scrolling, but only when users have no preference for reduced motion, and when focused in the page to prevent unnaturally scrolling when tabbing through the results of a search.
*/

@media (prefers-reduced-motion: no-preference) {
	html:focus-within {
		scroll-behavior: smooth;
	}
}

/* Opt in the whole page to interpolate sizes to/from keywords. */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

/* Opt in all pages to cross-document view transitions. */
@media (prefers-reduced-motion: no-preference) {
	@view-transition {
		navigation: auto;
	}
}

/*
When scrolling to target elements, a reasonable spacing is added above them to ensure they remain visible, especially with sticky headers or similar.
*/

:target {
	scroll-margin-block-start: 5em;
}

/* ===================================================================
02. Content Sectioning
=================================================================== */

/*
Make 'body' at least as tall as the viewport height (requires 'html { block-size: 100%; }', see 'html' rule above). Ref. https://codepen.io/germanfrelo/pen/jOGNpbj
*/

body {
	min-block-size: 100%; /* 1 */
}

/*
Unset the default 'italic' font style.
*/

address {
	font-style: inherit;
}

/* ===================================================================
03. Grouping Content
=================================================================== */

/*
1. Prevent content from overflowing while preserving its formatting. (ref. https://github.com/jensimmons/cssremedy/issues/81).
2. Prevent scroll chaining because of 1.
3. Fix the inheritance and scaling of the font size in all browsers. Refs.:
- https://bugzilla.mozilla.org/show_bug.cgi?id=175415
- https://brunildo.org/test/monospace_fsize.html
- https://456bereastreet.com/archive/200609/font_size_inconsistencies_with_fontfamily_monospace/
- https://neugierig.org/software/chromium/notes/2009/09/monospace-fonts-workaround.html
- https://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
- https://github.com/necolas/normalize.css/commit/5daad010a2f19c12b89f317ba9d2c8e4573210d7
- https://github.com/necolas/normalize.css/issues/519#issuecomment-197131966
4. Fix the odd 'em' font sizing in all browsers.
*/

pre {
	overflow: auto; /* 1 */
	overscroll-behavior: contain; /* 2 */
	font-family: monospace, monospace; /* 3 */
	font-size: 1em; /* 4 */
}

/*
Sets a consistent and modern default look for 'hr':
1. Reverts the default 'gray' color in Firefox and WebKit to allow the text foreground color to be used as the border color.
2. Removes all default '1px inset' borders to instead use a single border with a 'solid' style and a border width of '2px' to have the same height as before.
*/

hr {
	color: inherit; /* 1 */
	border: none; /* 2 */
	border-block-start: 2px solid; /* 2 */
}

/* ===================================================================
04. Inline Text Semantics
=================================================================== */

/*
1. Fix the inheritance and scaling of the font size in all browsers.
2. Fix the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* ===================================================================
05. Embedded Content
=================================================================== */

/*
1. Block display by default is usually what we want/the most common use case (default is 'inline').
2. Responsive by default to prevent them from growing beyond the container.
*/

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block; /* 1 */
	max-inline-size: 100%; /* 2 */
}

/*
Maintain intrinsic aspect ratios when 'max-inline-size' is applied ('embed', 'iframe' and 'object' have no intrinsic ratio, so their 'block-size' needs to be set explicitly).
*/

canvas,
img,
svg,
video {
	block-size: auto;
}

/*
There is no good reason 'audio' defaults to a fixed '300px' width.
This makes it fluid, but retains that '300px' as a minimum to ensure native controls remain usable.
*/

audio {
	inline-size: 100%;
	min-inline-size: 300px;
}

/* ===================================================================
06. Tabular Data
=================================================================== */

/*
1. Ensure numbers line up (ref. https://github.com/jensimmons/cssremedy/issues/39).
2. Prevent double borders (ref. https://github.com/jensimmons/cssremedy/issues/39).
3. Fix the default table 'border-color: gray' on Chrome (bug: https://issues.chromium.org/issues/40615503).
*/

table {
	font-variant-numeric: tabular-nums; /* 1 */
	border-collapse: collapse; /* 2 */
	border-color: currentcolor; /* 3 */
}

/*
Make 'th' alignment (default is 'center') consistent with 'td' alignment (ref. https://github.com/jensimmons/cssremedy/issues/39).
*/

th {
	text-align: inherit;
}

/*
Add padding and border to table cells for a better readability (ref. https://github.com/jensimmons/cssremedy/issues/39).
*/

:where(th, td) {
	padding-block: 0.25em;
	padding-inline: 0.5rem;
	border: 1px solid;
}

/* ===================================================================
07. Forms
=================================================================== */

/*
Replace the default inline padding of '2px' with a sensible, font-relative value.
*/
legend {
	padding-inline: 0.5ch;
}

/*
1. Responsive by default by restricting sizing to the page width.
2. Add typography inheritance.
3. Add color inheritance.
*/

button,
input,
select,
textarea,
::file-selector-button {
	max-inline-size: 100%; /* 1 */
	font: inherit; /* 2 */
	color: inherit; /* 3 */
	word-spacing: inherit; /* 2 */
	letter-spacing: inherit; /* 2 */
}

/*
Normalize the placeholder text color.
More info: https://codepen.io/germanfrelo/pen/EaYwZdb
*/

::placeholder {
	color: color-mix(in oklab, currentcolor 54%, transparent);
}

/* ===================================================================
08. Interactive Elements
=================================================================== */

/*
Use the same cursor as buttons (default is 'text'), which feels more interactive, and aligns with its common implicit ARIA role of 'button'.
*/

:where(details > summary:first-of-type) {
	cursor: default;
}

/* ===================================================================
09. Hidden Elements
=================================================================== */

/*
Ensure some elements with the 'hidden' attribute remain hidden, even if a different display value is set (e.g., from the preceding 'display: block' on media element).
Refs.:
- https://html.spec.whatwg.org/multipage/rendering.html#hidden-elements
- https://github.com/jensimmons/cssremedy/pull/72
- https://github.com/jensimmons/cssremedy/issues/71#issuecomment-771180150
- https://github.com/tailwindlabs/tailwindcss/commit/b570e2b
*/

[hidden]:not(:is([hidden="until-found"], embed)) {
	display: none;
}
