/* ===================================================================
Title:       Frame
Description: A layout for augmenting image ratios.
Reference:   https://every-layout.dev/layouts/frame/
---
Variables:

--frame-aspect-ratio
	Description: The aspect-ratio (e.g. 16/9, 1, etc.).
	Type:        A valid 'aspect-ratio' value.
	Default:     auto

--frame-object-fit
	Description: A 'object-fit' property value.
	Type:        A valid 'object-fit' value.
	Default:     cover

--frame-object-position
	Description: A 'object-position' property value.
	Type:        A valid 'object-position' value.
	Default:     initial
=================================================================== */

.frame {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: var(--frame-aspect-ratio, auto);
	overflow: hidden;

	:is(img, svg, video) {
		inline-size: 100%;
		block-size: 100%;
		object-fit: var(--frame-object-fit, cover);
		object-position: var(--frame-object-position, initial);
	}
}
