/* ===================================================================
Title:       Reel
Description: A layout for creating a horizontally scrolling container for elements that maintain their intrinsic height.
References:
- https://every-layout.dev/layouts/reel/
- https://developer.chrome.com/docs/css-ui/scrollbar-styling
- https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color
- https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width
- https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar
---
Variables:

--reel-height
	Description: The height of the Reel itself.
	Type:        A valid 'height' value.
	Default:     auto

--reel-height-max
	Description: The maximum height of the Reel itself.
	Type:        A valid 'max-height' value (e.g., <length>, <percentage>, svb).
	Default:     99svb

--reel-item-width
	Description: The width of each item (child element) in the Reel.
	Type:        A valid 'width' value.
	Default:     auto

--reel-items-gap
	Description: The space between Reel items (child elements).
	Type:        A valid 'gap' value.
	Default:     var(--block-gap, 1em)

--reel-padding
	Description: The space between the Reel items and the Reel itself.
	Type:        A valid 'padding' value.
	Default:     0

--reel-scrollbar-offset
	Description: The space between Reel items and the scrollbar.
	Type:        A valid '<length>' value.
	Default:     var(--block-gap, 1em)

--scrollbar-thumb-color
	Description: The color of the scrollbar thumb (the moving part).
	Type:        A valid '<color>' value.
	Default:     auto

--scrollbar-thumb-color-hover
	Description: The color of the scrollbar thumb on hover.
	Type:        A valid '<color>' value.
	Default:     auto

--scrollbar-track-color
	Description: The color of the scrollbar track (the background).
	Type:        A valid '<color>' value.
	Default:     auto

--scrollbar-track-color-hover
	Description: The color of the scrollbar track (the background) on hover.
	Type:        A valid '<color>' value.
	Default:     auto

--scrollbar-width
	Description: The thickness of the scrollbar as 'auto' | 'thin' | 'none'. (Chrome/Edge & Firefox only)
	Type:        'auto' | 'thin' | 'none'.
	Default:     auto

--scrollbar-thumb-radius
	Description: The radius of the scrollbar thumb. (Safari only)
	Type:        A valid '<length-percentage>' value.
	Default:     0

--scrollbar-track-radius
	Description: The radius of the scrollbar track. (Safari only)
	Type:        A valid '<length-percentage>' value.
	Default:     0
=================================================================== */

.reel {
	display: flex;
	flex-wrap: nowrap;
	gap: var(--reel-items-gap, var(--block-gap, 1em));
	block-size: var(--reel-height, auto);
	max-block-size: var(--reel-height-max, 99svb);
	padding: var(--reel-padding, 0);
	padding-block-end: var(--reel-scrollbar-offset, var(--block-gap, 1em));
	overflow-x: auto;
	overflow-y: hidden;
	overscroll-behavior: contain;
	scrollbar-color: var(--scrollbar-thumb-color, auto) var(--scrollbar-track-color, auto);
	scrollbar-width: var(--scrollbar-width, auto);

	@media (prefers-reduced-motion: no-preference) {
		transition-duration: var(--transition-duration);
		transition-property: scrollbar-color;
	}

	&:hover {
		scrollbar-color: var(--scrollbar-thumb-color-hover, auto) var(--scrollbar-track-color-hover, auto);
	}

	> * {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: var(--reel-item-width, auto);
		margin: 0;
	}

	> :is(img, figure:has(> img), ) {
		flex-basis: auto;
		inline-size: auto;
		block-size: 100%;
	}

	> figure > img {
		inline-size: auto;
		block-size: 100%;
	}
}
