/* ===================================================================
Title:       Stack
Description: A layout for adding white space (margin) between flow (block) elements along a vertical axis.
Reference:   https://every-layout.dev/layouts/stack/
---
Variables:

--stack-gap
	Description: The space between each item.
	Type:        A valid 'gap' value.
	Default:     var(--block-gap, 1rem)

--stack-horizontal-alignment
	Description: How items should align horizontally.
	Type:        A valid 'align-items' value.
	Default:     stretch

--stack-vertical-alignment
	Description: How items should align vertically.
	Type:        A valid 'justify-content' value.
	Default:     start
=================================================================== */

.stack {
	display: flex;
	flex-direction: column;
	gap: var(--stack-gap, var(--block-gap, 1rem));
	align-items: var(--stack-horizontal-alignment, stretch);
	justify-content: var(--stack-vertical-alignment, start);

	> * {
		margin-block: 0;
	}
}
