/* ===================================================================
WP BLOCK POST AUTHOR NAME
---
WP block source:
- https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/post-author-name
- https://github.com/WordPress/WordPress/blob/master/wp-includes/blocks/post-author-name
---
Notes:
- To customize most of this block and its parts, use the custom properties.
=================================================================== */

.wp-block-post-author-name {
	--link-text-color: currentcolor;
	font-size: var(--post-author-name-font-size);
}
