<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":false,"remove":false}} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"nowrap","verticalAlignment":"center"}} -->
<main class="wp-block-group">
	<!-- wp:group {"className":"region","layout":{"type":"constrained"}} -->
	<div class="wp-block-group region">
		<!-- wp:group {"layout":{"type":"default"}} -->
		<div class="wp-block-group">
			<!-- wp:heading {"level":1,"className":"is-style-heading-eyebrow"} -->
			<h1 class="wp-block-heading is-style-heading-eyebrow">ERROR 404</h1>
			<!-- /wp:heading -->

			<!-- wp:paragraph {"className":"font-4xl"} -->
			<p class="font-4xl">No se ha encontrado la página</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->

		<!-- wp:paragraph -->
		<p>Parece que has seguido un enlace roto o introducido una URL que no existe en este sitio.</p>
		<!-- /wp:paragraph -->

		<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
		<div class="wp-block-buttons">
			<!-- wp:button -->
			<div class="wp-block-button">
				<a class="wp-block-button__link wp-element-button" href="/">Volver a inicio</a>
			</div>
			<!-- /wp:button -->

			<!-- wp:button -->
			<div class="wp-block-button">
				<a class="wp-block-button__link wp-element-button" href="https://wp-site-template.local/paginas-legales/mapa-web/">Ver el mapa del sitio</a>
			</div>
			<!-- /wp:button -->
		</div>
		<!-- /wp:buttons -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":false,"remove":false}} /-->
